<!DOCTYPE html>
<html>
<body>
{{#user}}
    Welcome {{userEmail}}, {{id}}
    <p><a href="/logout">Logout</a></p>
{{/user}}
{{^user}}
    No user logged in.
{{/user}}
<form action="/add-note" method="post" id="textForm">
    Tags: <input type="text" name="tagName">
    <button type="submit">Add Note and Tag</button>
</form>
<textarea form="textForm" rows="20" cols="70" name="inputText" placeholder="Enter note here"></textarea>

{{^notes}}
    No notes here
{{/notes}}
{{^tags}}
    No tags here
{{/tags}}

{{#notes}}
    <li>
    {{id}}. {{noteText}}, {{#tags}}{{tagName}}, {{id}}{{/tags}}
    </li>
{{/notes}}
</body>

</html>