<!DOCTYPE html>
<html>
<body>
<form action="/add-note" method="post" id="textForm">
    <button type="submit">Add</button>
</form>
<textarea form="textForm" rows="20" cols="70" name="inputText" placeholder="Enter note here"></textarea>

{{^notes}}
    No notes here
{{/notes}}

{{#notes}}
    {{id}}. {{noteText}}
{{/notes}}
</body>

</html>