<!DOCTYPE html>
<html>
<body>
<form action="/add-note" method="post" id="textForm">
    Tags: <input type="text" name="tagName">
    <button type="submit">Add Note and Tag</button>
</form>
<textarea form="textForm" rows="20" cols="70" name="inputText" placeholder="Enter note here"></textarea>

{{^notes}}
    No notes here
{{/notes}}

{{#notes}}
    <li>
    {{id}}. {{noteText}}
    </li>
{{/notes}}
</body>

</html>